<h2><%= l(:label_plugins) %></h2>

<% if @plugins.any? %>
<%= render :partial => 'admin/plugins', :locals => {:plugins => @plugins} %>
<% else %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
